body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
}

.app {
	height: 100vh;
}

.app__header {
	padding: 1.75rem;
	display: flex;
	justify-content: space-around;
}
